spring:
  redis:
    password:
    host: ${redis.host}
    # 数据源
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://${mysql.host}:3306/liquor?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowMultiQueries=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai
mybatis-plus:
  type-aliases-package: com.liquorcloud.liquor.common.model.entity
  mapper-locations: classpath:mapper/*.xml
  #全局配置，不显示banner
  global-config:
    banner: false
# 直接放行URL
ignore:
  urls:
    - /actuator/**
    - /user/info/*
    - /log/**
